[submodule "vendor/gpui"]
	path = vendor/gpui
	url = https://github.com/gpui-mbt/gpui.mbt.git
[submodule "vendor/hotpath"]
	path = vendor/hotpath
	url = https://github.com/gpui-mbt/hotpath.mbt.git
[submodule "tools/turtles"]
	path = tools/turtles
	url = https://github.com/gpui-mbt/turtles.mbt.git
[submodule "vendor/yami-kumo"]
	path = vendor/yami-kumo
	url = https://github.com/f4ah6o/Yami-kumo.git
